/* https://dev.to/sajclarke_62/using-tailwindcss-v3-in-docusaurus-in-5-steps-5c26 */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.heroBanner {
  height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url('/img/bgimg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .heroBanner {
    background-image: url('/img/bgimgMobile.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}